* {
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

nav {
  background-color: green;
  width: 100%;
  position: fixed;
  padding: 25px 0px 20px 0px;
}

h1 {
  padding-top: 85px;
  padding-left: 25px;
}

h3 {
  margin-top: 25px;
  padding-left: 25px;
}

p {
  margin-top: 15px;
  padding-left: 25px;
}

a {
    color: white;
}

a:hover{
  color: gray;
}

.navbar {
  text-decoration: none;
  padding-left: 10px;
  display: inline-block;
  margin-left: 50px;
  font-size: x-large;

}


.gallery-grid {
  margin: 10px 50px;
}

.gallery-img {
  transition: 1s;
  padding: 15px;
  width: 200px;
  height: 8rem;
}

.gallery-img:hover {
  filter: grayscale(100%);
  transition: scale(1.1);
  transform: scale(1.3);

}
